:root {
    --color-hud: rgba(101, 176, 255, 0.45);
    --color-hudRcsBorder: rgba(101, 176, 255, 0.2);
    --color-hudShadow: rgba(101, 176, 255, 0.8);
    --color-hud2: rgba(0, 51, 255, 0.35);
    --color-hud3: rgba(131, 208, 255, 0.35);
    --color-hud-shield: rgba(66, 207, 255, 0.35);
    --color-hud-armor: rgba(72, 137, 255, 0.35);
    --color-hud-speed: rgba(255, 169, 121, 0.45);
    --color-hud-speedShadow: rgba(255, 169, 121, 0.8);
}
#weaponBar {
    display:flex;
    justify-content: center;
    gap:2px;
    text-align:center;
    overflow:visible;
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
}

.weaponBar {
    font: 12px "Consolas", monospace;
    border: 1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0;
    border-radius: 2px;
    padding:3px;
}

.wepCd {
    background-color: var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0;
    height:5px;
}

.wepCdBorder {
    border: 1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0;
    height:5px;
}


#hud {
    position:absolute;
    overflow: visible;
    top:120px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    left: 0;
    right: 0;
}

#shieldArmorBars {
    margin-top:10px;
    overflow:visible;
}

#shieldBorder,#armorBorder {
    border:1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0 ;
    width:100px;
    height:5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#shieldBar,#armorBar {
    height:5px;
    overflow:visible;
}

#shieldBar {
    background-color: var(--color-hud-shield);
    box-shadow: var(--color-hudShadow) 0 0 2px 0;
}

#armorBar {
    background-color: var(--color-hud-armor);
    box-shadow: var(--color-hudShadow) 0 0 2px 0;
}

#flashMessage {
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
    white-space: pre-line;
    margin-top:10px;
    text-align:center;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow:visible;
}

#hudSpeedDiv {
    overflow: visible;
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top:5px;
}

#hudSpeed,#hudTargetSpeed {
    overflow: visible;
    font:14px Consolas;
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
  /*  color: var(--color-hud-speed);
    text-shadow: var(--color-hud-speedShadow) 0 0 5px;*/
}

#hudPitch {
    text-align:center;
    display:flex;
    flex-direction: column;
    position:absolute;
    /*overflow: visible;*/
    top:90px;
    left:600px;
    width:50px;
}

#hudPitchCenter2 {
    text-align:center;
    font: 12px Consolas;
    position:absolute;
    /*overflow: visible;*/
    top:260px;
    left:600px;
    width:45px;
    height:15px;
    border:1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0 ;
}

#hudPitchCenter3 {
    position:absolute;
    top:260px;
    left:600px;
    width:40px;
    height:15px;
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
}

.degrees10p {
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
    display: inline-block;
    font: 14px Consolas;
    height:25px;
}



#hudYaw {
    white-space: nowrap;
    text-align:center;
    font: 12px Consolas;
    position:absolute;
    overflow: visible;
    top:80px;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    left: 0;
    right: 0;
}


#hudYawCenter2 {
    text-align:center;
    font: 12px Consolas;
    position:absolute;
    /*overflow: visible;*/
    top:78px;
    margin-left: auto;
    margin-right: auto;
    width:40px;
    height:15px;
    border:1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0 ;
    left: 0;
    right: 0;
}

#hudYawCenter3 {
    position:absolute;
    top:90px;
    width:40px;
    height:15px;
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
}

.degrees10 {
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
    display: inline-block;
    width:40px;
}

#hudJumpDrive {
    text-align: center;
    font: 12px Consolas;
    color: var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 5px;
    position: absolute;
    overflow: visible;
    top:30px;
    width:80px;
    left:40px;
    transition: opacity 400ms;
}


#hudJumpDriveBorder {
    border: 1px solid var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0;
    height:7px;
    width:100%;
}

#hudJumpDriveCharging {
    height:7px;
    width:0;
    background-color: var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0,inset  var(--color-hudShadow) 0 0 2px 0;
}

#hideRcsControl {
    position:absolute;
    z-index:2;
    left:90px;
    top:75px;
    background-color:rgba(255,255,255,0.03);
    border:0;
    width:20px;
    height:20px;
}
