#hud {
    position:absolute;
    top:110px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    left: 0;
    right: 0;
}

#shieldArmorBars {
    margin-top:10px;
}

#shieldBorder,#armorBorder {
    border:1px solid rgba(255,255,255,0.15);
    width:100px;
    height:5px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#shieldBar,#armorBar {
    height:5px;
}

#shieldBar {
    background-color: rgba(0, 187, 255, 0.35);
}

#armorBar {
    background-color: rgba(255, 138, 55, 0.35);
}

#flashMessage {
    color:rgba(255,255,255,0.55);
    white-space: pre-line;
    margin-top:10px;
    text-align:center;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}