.menuButton {
    padding:3px 7px 3px 7px;
    margin:0 3px 0 3px;
    /*border:1px solid rgba(255,255,255,0.2);
    border-radius: 2px;*/
    border: 0 #000;
    width: 100%;
    height: fit-content;
    background-color: #292729;
    font-size:1.25vw;
}

.menuButton:hover {
    background-color: #444144;
}

.selectedMenu {
    background-color: #444144;
}

.gameMenu {
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    align-items: center;
    height:100%;
    /*width:7.25vw;*/
}


#appSettings {
    position:absolute;
    top:100px;
    width:90%;
    height:80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    background-color: #292729;
    color:#CCC;
    filter:opacity(0);
    transition: filter 500ms;
    display:flex;
    flex-wrap: nowrap;
}

#app {
    transition: filter 100ms;
}

.settingH3 {
    font-size:1.2vw; /*font-size:20px;*/
    font-weight:600;
    padding-bottom:10px;
}

.settingCategory {
    margin: 0.5vw;
    padding: 0.5vw;
    background-color: rgba(255,255,255,0.05);
    font-size:0.9vw;
}

.settingItem {
    display: flex;
    justify-content: space-between;
    padding:2px 0 2px 0;
}

.settingItemC {
    background-color: rgba(255, 255, 255, 0);
    font-size:0.72vw;
    padding:2px 5px 2px 5px;
    margin:0 3px 0 3px;
    border:1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    width: fit-content;
    height: fit-content;
}

.settingOptions {
    overflow:hidden;
    display:flex;
    justify-content: start;
    min-width:12.458vw;
}

.keybindName {

}

.keybind {
    margin:0.1vw;
    padding:0.1vw;
}

.keybindButton:hover {
    background-color: #444144;
}

.keybinds {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}