:root {
    --background-color-light:#343434;
    --background-color-light2:#333;

    --background-color-dark: #171717;
    --background-color-dark2: #151515;
}

html {
    background-color: var(--background-color-light);
    color: #d1d1d1;
    font-family: Consolas, monospace;
}
* {
    overflow-x: hidden;
}

body {
    margin:0;
}
h3 {
    margin:0;
}

p {
    margin:0;
}

#topBar {
    margin-top:3px;
}

output {
    text-align: right;
    width:35px;
}

button {
    overflow: hidden;
    margin-top:3px;
    border: 1px solid #fff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:16px;
    height:16px;
    transition: all 100ms ease-in;
}

#btn_speedMode {
    width:60px;
    height:18px;
    background-color:#000;
}

#btn_setSpeed {
    width:40px;
    height:18px;
    background-color:#000;
}

.buttonOn {
    background-color: #4bd44f; /* Green */
}

.buttonOff {
    background-color: #d34644; /* Green */
}

input[type=number] {
    width:60px;
    background-color: transparent;
    border:0;
    color: #d1d1d1;
    outline:none;
}

.whiteText {
    color:#fff;
}

.space-between {
    display:flex;
    justify-content: space-between;
}
.space-evenly {
    display:flex;
    justify-content: space-evenly;
}


.flex-center {
    display:flex;
    justify-content: center;
}

.flex-column {
    display:flex;
    flex-direction:column;
}

.flex-row {
    display:flex;
    flex-direction:row;
}

#bottomDiv {
    position:absolute;
    width:100%;
    display:flex;
    top:500px;
    justify-content: space-evenly;
}

@media only screen and (min-height: 1020px) {
    #bottomDiv {
        top:560px;
    }
}
@media only screen and (max-height: 1020px) {
    #bottomDiv {
        top:560px;
    }
}
@media only screen and (max-height: 980px) {
    #bottomDiv {
        top:530px;
    }
}
@media only screen and (max-height: 960px) {
    #bottomDiv {
        top:480px;
    }
}
@media only screen and (max-height: 900px) {
    #bottomDiv {
        top:400px;
    }
}
@media only screen and (max-height: 850px) {
    #bottomDiv {
        top:350px;
    }
}
@media only screen and (max-height: 800px) {
    #bottomDiv {
        top:300px;
    }
}

#tanksDiv,#energyDiv {
    margin-top:50px;
}

.width400 {
    width:400px;
}

.paddingDiv {
    padding: 0 5px 3px 5px;
}



#inputRange_speed {
    width:100%;
}

#inputRange_speed {
    margin:0;
    opacity:0.5;
    position:absolute;
    height: 20px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#inputRange_speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #295e9e;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -2007px 0 0 2000px #295e9e;
}

#speedBorder {
    width:100%;
    border:1px solid #111;
    height: 20px;
    border-radius: 15px 15px 15px 15px;
    position:relative;
}

#speedFill {
    width:0;
    height: 20px;
    background-color: #9099c8;
    border-radius: 15px 0 0 15px;
    position:absolute;
    transition: width 0.1s linear;
}
#speedText {
    padding-left:10px;
    font-weight:600;
    text-shadow: 0 0 2px #fff;
    color:#000;
    position:absolute;
}

.capacitorBorder {
    margin-top:5px;
    width:120px;
    height:22px;
    border:1px solid #000;
    position:relative;
}

.capacitorValue {
    height:22px;
    background-color: #295e9e;
    position:absolute;
}

.capacitorType {
    position:absolute;
    padding-left:5px;
}

.capacitorText {
    margin-top:5px;
    padding-left:5px;
    width:120px;
    line-height: 22px;
    text-align:center;
}

.capacitorText2 {
    width:70px;
    font-size:14px;
    padding:5px;
    border:1px solid #000;
    text-align: center;
}

#batteryBorder {
    height:350px;
    width:60px;
    position:relative;
    border:1px solid #000;
}

#batteryValue {
    width:60px;
    position:absolute;
    bottom:0;
    background-color: #50a84a;
}
#batteryText {
    text-align: center;
    top:139px; /*(batteryBorder.height-72)/2 */
    position:absolute;
}

.tankBorder {
    width:calc(100% - 2px);
    height:22px;
    border:1px solid #000;
    position:relative;
    margin-bottom:3px;
    margin-right:5px;
}

.tankValue {
    height:22px;
    position:absolute;
}

.gasTank {
    background-color: #6f9a9e;
}

.fuelTank {
    background-color: #9e9c6b;
}

.tankText {
    position:absolute;
    padding-left:10px;
    line-height:22px;
}

.tankText2 {
    position:absolute;
    /*padding-left:50px;*/
    padding-right:5px;
    left:0;
    right:0;
    text-align: right;
    line-height:22px;
}

#energyDiv {
    display:flex;
    justify-content: space-between;
}


#energyConsumption {
    color: #ffad9b;
    padding:3px;
}

#energyGeneration {
    color: #a1ff9f;
    padding:3px;
}

#powerGenCons {
    justify-content: space-evenly;
    margin-bottom:10px;
}




.backgroundBottomDiv {
    background-color:var(--background-color-light2);
    border:1px solid #000;
    border-radius:3px;
    padding:4px;
}


.RcsControl {
    background-color:var(--background-color-light2);
    border:1px solid #000;
    border-radius:2px;
    position:absolute;
    left:0;
    top:150px;
    padding:5px;
    width:110px;
}

.inputRange {
    -webkit-appearance: none;
    width: 70px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.inputRange:hover {
    opacity: 1;
}

.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 15px;
    background: #0097dc;
    cursor: pointer;
}

.inputRange::-moz-range-thumb {
    width: 10px;
    height: 15px;
    background: #0097dc;
    cursor: pointer;
}



/* ONLY FOR DEBUG*//*
div {
    border:1px solid #fff;
}*/






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}