.tank_H2 {
    background-color: #52899e;
}

.tank_O2 {
    background-color: #7db8bc;
}

.tank_N2 {
    background-color: #7c9e92;
}

.tank_water {
    background-color: #295e9e;
}

.tank_uranium {
    background-color: #597229;
}

.tank_deuterium {
    background-color: #21369e;
}

.tank_food {
    background-color: #9d779e;
}

.tank_fuel1 {
    background-color: #9e7a3c;
}

.dark_tanks {
    filter: brightness(70%);
}

