#throttleBar,#rcsBar,.rcsBar2V {
    display:flex;
}

.rcsBar2V {
    flex-direction:column;
}


.throttleBar,.rcsBar,.rcsBarV {
    transition: all 100ms ease-out;
}

.throttleBar {
    width:6px;
    height:12px;
    border:1px solid #000;
    background-color:var(--background-color-light2);
    margin-right:2px;
}

.rcsBar {
    width:3px;
    height:12px;
    background-color:var(--background-color-light2);
    margin-right:2px;
}

.rcsBarV {
    width:12px;
    height:3px;
    background-color:var(--background-color-light2);
    margin-bottom:2px;
    margin-left:41%;
}


.vline {
    background-color:#FFF;
    width:1px;
    height:12px;
    margin-right:2px;
}


.hline {
    background-color:#FFF;
    width:12px;
    height:1px;
    margin-bottom:2px;
    margin-left:41%;
}


#rcsV,#rcsH {
    font: 10px "Consolas", monospace;
    color:#888;
}

#rcsH {
    position:absolute;
    top:365px;
    left:7px;
}
#rcsV {
    position:absolute;
    top:325px;
    left:66px;
}