#throttleBar,#rcsBar,.rcsBar2V {
    display:flex;
    overflow: visible;
}

.rcsBar2V {
    margin-top:2px;
    flex-direction:column;
    overflow: visible;
}

.throttleBar,.rcsBar,.rcsBarV {
    transition: all 100ms ease-out;
}

.throttleBar {
    width:6px;
    height:12px;
    border:1px solid #000;
    background-color:var(--background-color-light2);
    margin-right:2px;
}

.rcsBar {
    width:1px;
    height:12px;
    background-color:rgba(101, 176, 255, 0.6);
    margin-right:2px;
    border: 1px solid var(--color-hudRcsBorder);
    box-shadow: var(--color-hudShadow) 0 0 1px 0,inset  var(--color-hudShadow) 0 0 1px 0;
    overflow: visible;
}

.rcsBarV {
    width:12px;
    height:1px;
    background-color:rgba(101, 176, 255, 0.6);
    margin-bottom:2px;
    margin-left:42%;
    border: 1px solid var(--color-hudRcsBorder);
    box-shadow: var(--color-hudShadow) 0 0 1px 0,inset  var(--color-hudShadow) 0 0 1px 0;
    overflow: visible;
}

.vline {
    width:1px;
    height:12px;
    margin-right:2px;
    margin-bottom:1px;
    margin-top:1px;
    background-color: var(--color-hud);
    box-shadow: var(--color-hudShadow) 0 0 2px 0;
}


#rcsV,#rcsH {
    font: 10px "Consolas", monospace;
    color:var(--color-hud);
    text-shadow: var(--color-hudShadow) 0 0 4px;

}

#rcsH {
    position:absolute;
    top:40px;
    left:1px;
}
#rcsV {
    position:absolute;
    top:0;
    left:60px;
}

#hudRCS {
    /*position:absolute;
    left:-400px;
    top:50px;*/
    position:absolute;
    left:10px;
    top:250px;
    overflow: visible;
}