#weaponBar {
    display:flex;
    justify-content: center;
    gap:2px;
    opacity:0.3;
    text-align:center;
    overflow-y: hidden;
    color: #fff;
}

.weaponBar {
    font: 12px "Consolas", monospace;
    border: 1px solid #fff;
    border-radius: 2px;
    padding:3px;
}

.wepCd {
    background-color: #fff;
    height:5px;
}

.wepCdBorder {
    border: 1px solid #fff;
    height:5px;
}